@import "../../variables.scss";

.root {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag {
  background-color: rgba($color-purple-1, 0.5);
  color: $color-purple-4;
  border: 1px solid $color-purple-3;
  margin: 0 3px 3px 0;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 12px;
  line-height: 1;
  padding: 3px 9px;
}
