@import "../../variables.scss";

.root {
  margin: $header-height 0 0 0;
}

.resources {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: $container-width-xl;
  padding: 12px 6px;

  @include bp-sm {
    grid-template-columns: 1fr 1fr;
  }

  @include bp-lg {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 18px;
  }
}

.addContainer {
  display: flex;
  justify-content: center;
}

.add {
  color: $color-white;
  margin: 12px auto;
}
