@import "../../variables.scss";

.root {
  background: $color-white;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba($color-black, 0.15);
  overflow: hidden;
  padding: 18px 12px;
  width: 100%;

  @include bp-md {
    padding: 30px;
  }
}

.heading {
  color: $color-outline;
  font: 700 22px/1 $font;
  margin: 0;
  padding: 0;

  @include bp-md {
    font-size: 24px;
  }
}

.heading a {
  color: inherit;
  text-decoration: none;
}

.heading a:hover {
  text-decoration: underline;
}

.tags {
  margin: 12px 0 0;
}

.blurb {
  color: $color-outline;
  font: 400 16px/1.5 $font;
  margin: 12px 0 0;
}
