@import "../../variables.scss";

.root {
  background: $color-white;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba($color-black, 0.15);
  overflow: hidden;
  padding: 18px 12px;
  width: 100%;

  @include bp-md {
    padding: 30px;
  }
}
