@import "./variables.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    180deg,
    #64beff -50%,
    #245ae7 69.71%,
    #8960ff 150%
  );
  min-height: 100vh;
}
