$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

$color-white: #ffffff;
$color-black: #000000;
$color-grass-1: #82e06d;
$color-grass-2: #5ba656;
$color-outline: #2f231b;
$color-purple-1: #dbdae5;
$color-purple-2: #c3c1db;
$color-purple-3: #8e94bb;
$color-purple-4: #7377b4;
